#db configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=lead_management_system
DB_PORT=5432

#application configuration
PORT=3000

JWT_SECRET=YT2OgLAKZehH21zwNKg6hUMeMwPo0wD7
# REFRESH_SECRET=LvbjsuHAJ0RgpiJPGUO7j4doB9Ru5tehVA6Mv3HgJY8

ACCESS_TOKEN_EXPIRY=15m
# REFRESH_TOKEN_EXPIRY=7d

